# git: ignore this stuff for this directory only #
##################################################

# .RData files that are HUGE #
##############################
*SAM.RData
samout.RData
postcors.RData

# Outputs that you can compile yourself!!       #
# (See README.md for how to compile .Rnw files) #
#################################################
mcmcex.pdf
mcmcex.tex

# These output folders come from knitr #
/auto
/figure
