
## ignore emacs copies/backups
*~

## ignore R history and profile files
*.Rhistory
*.Rprofile
.Rproj.user
*.Rproj
*synctex.gz

## ignore various extra files from tex and knitr compilations
*.bbl
*.log
*.aux
*.blg
*.RData
*.Rout
*cache*