# git: ignore this stuff for this directory only #
##################################################


# Outputs that you can compile yourself!!       
*.tex
*.log
*.aux
*.out
*.bbl
*.blg

# These output folders come from knitr #
*/auto
*/figure
/auto
/figure
