# git: ignore this stuff for this directory only #
##################################################

# .RData files that are HUGE #
##############################
*SAM.RData
.Rhistory

# Outputs that you can compile yourself!!       
mcmcex.tex
mcmcex.log
mcmcex.aux
mcmcex.out
mcmcex.bbl
mcmcex.blg

# These output folders come from knitr #
/auto
/figure
